
  <fieldset>

    <!-- Form Name -->
    <legend>Add a new work</legend>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" >New Work</label>
      <div class="col-md-5">
        <input #newTodo name="" type="text" placeholder="New Work" class="form-control input-md">
      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for=""></label>
      <div class="col-md-4">
        <button (click) = 'addTodo(newTodo.value)' id="" name="" class="btn btn-primary">ADD</button>
      </div>
    </div>

  </fieldset>
